<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Suite">

    <test name="OrangeHRM UI Tests">
        <classes>
            <class name="com.sachin.tests.login.LoginSmokeTest"/>
            <class name="com.sachin.tests.auth.LoginPositiveTests"/>
            <class name="com.sachin.tests.auth.LoginNegativeTests"/>
            <class name="com.sachin.tests.auth.LoginBoundaryTests"/>
            <class name="com.sachin.tests.login.LoginTests"/>
            <class name="com.sachin.tests.pim.PimNavigationTests"/>
            <class name="com.sachin.tests.pim.EmployeeLifecycleTests"/>
        </classes>
    </test>

</suite>